/* 簡単なスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

h1 {
    color: darkblue;
    font-size: 2em;
}

h2 {
    color: darkgreen;
    font-size: 1.5em;
}

.names {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
}

button {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

input[type="submit"] {
    background-color: orange;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkorange;
}

button:hover {
    background-color: darkorange;
}

#message {
    color: green;
    font-weight: bolder;
    padding: 5px 10px;
    border: 2px solid green;
    border-radius: 5px;
}