<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>学習支援アプリ - チャット</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <h1>{{ choice }}</h1>
    <div>
        <p id="ai-content">{{ question }}</p>
    </div>
    <div>
        <form id='choice-form' method='post'>
            <input type='radio' name='choices' value='1'>1<br>
            <input type='radio' name='choices' value='2'>2<br>
            <input type='radio' name='choices' value='3'>3<br>
            <input type='radio' name='choices' value='4'>4<br>
            <input type='radio' name='choices' value='5'>5<br>
            <input type="submit" value='send'>
        </form>
    </div>
    <div>
        <button id="next-button">next</button>
        <button id="end-button">end</button>
    </div>
    <div>
        <p id="ai-result"></p>
        <button id="back-button" onclick="location.href='/'">back</button>
    </div>
</body>
</html>