<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <title>学習アシスタントアプリ</title>
    </head>
    <body>
        <h1 id='message'>{{ message }}</h1>
        <button id='translate-button'>english</button>

        <div>
            <h2 id='select-title'>{{ select_title }}</h2>
            <form id="select-form" method='post' action='/start'>
                {% for key, value in GENRE.items() %}
                <input type="radio" name='genre' value="{{ key }}"> {{ value }}
                {% endfor %}
                <br>
                {% for key, value in LEVEL.items() %}
                <input type="radio" name="level" value="{{ key }}"> {{ value }}
                {% endfor %}
                <br>
                <input type="submit" value="start">
            </form>
            <p id="choice">{{ choice }}</p>
        </div>

        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>